{{#if posts.length}}
	<div class="center-title">
		<p>
			Your feed
		</p>
	</div>
	{{#each posts}}
		<div class="post-card">
			<div class="card-label">
				<span class="card-title"><a
						href="/post-content/{{this.id}}"
						id="postPath"
					>{{this.post_title}}</a></span>
				<span class="card-info"><div>post ref#
						<span id="postRef">{{this.id}}</span></div>{{this.user.username}}
					{{this.post_date}}</span>
			</div>
			<div class="card-body">
				<p>
					{{this.post_body}}
				</p>
			</div>
		</div>
	{{/each}}
{{/if}}